services:
  go-tester:
    image: golang:1.25
    volumes:
      - .:/app         
      - go-mod-cache:/go/pkg/mod
    working_dir: /app
    depends_on:
      - db             
      - app            
    env_file:
      - .env           
    command: ["tail", "-f", "/dev/null"] 

  k6:
    image: grafana/k6:latest
    volumes:
      - ./load_test.js:/app/load_test.js
    networks:
      - default
    depends_on:
      - app


volumes:
  go-mod-cache: