services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./app/db/migrations.sql:/docker-entrypoint-initdb.d/migrations.sql

volumes:
  db-data:
