version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: reviewer
      POSTGRES_PASSWORD: reviewer
      POSTGRES_DB: reviewer_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
