services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./app/db/migrations.sql:/docker-entrypoint-initdb.d/migrations.sql

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reviewer-service
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - .env
    command: ["./reviewer-service"]
    restart: always

volumes:
  db-data: