services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env.test
    ports:
      - "5433:5432"
    volumes:
      - db-test-data:/var/lib/postgresql/data
      - ./app/db/migrations.sql:/docker-entrypoint-initdb.d/migrations.sql

volumes:
  db-test-data:
